.body{
    background-color: cornflowerblue;
    width: 1200px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    /* flex-direction: column; */
}
.item1{
    background-color: aqua;
    height: 250px;
    width: 25%;
}
.item2{
    background-color: fuchsia;
    height: 250px;
    width: 25%;
}
.item3{
    background-color: brown;
    height: 250px;
    width: 25%;
}
.item4{
    background-color: darkgreen;
    height: 250px;
    width: 25%;
}
.item5{
    background-color: crimson;
    height: 250px;
    width: 250px;
}
.item6{
    background-color: blue;
    height: 250px;
    width: 250px;
}
.item7{
    background-color: cyan;
    height: 250px;
    width: 250px;
}
.item8{
    background-color: aquamarine;
    height: 250px;
    width: 250px;
}
